/0106.ipynb
/0114.ipynb
/0115.py
/1.ipynb
/2.ipynb
/app.py
/base01.py
/ds005505
/EDA
/HN
/HNCSV
/knn.ipynb
/lightGBM.ipynb
/output.mp3
/participants.tsv
/SpeechRecognition(0107).ipynb
/가족력 변수 정리.xlsx
/고혈압 변수 정리.xlsx
/근골격계.xlsx